# TypeScript files
src

# Editor
.vscode

# System
.DS_Store

# Deploy info. Consist private keys and other sensitive data.
deployV2

# Never reveal your keys!
keys

# cache 
cache

cache_frontend

.env

commits

!./node_modules/mina-fungible-token/*